<div style="text-align: center;">

  <p>MiniStore è un e-commerce che permette l'acquisto di un gran numero</p>
  <p>di tipologie di prodotti: abbigliamento, fai da te, prodotti per la casa, ecc...</p>
  <p></p>
  <p>Gli utenti possono aggiungere prodotti allo store inviando una mail al </p>
  <p>contatto dell'amministrazione riportato sotto con il seguente corpo:</p>
  <p>- Nome prodotto;</p>
  <p>- Marca;</p>
  <p>- Descrizione;</p>
  <p>- Prezzo.</p>
  <p></p>
  <p>Il 10% del prezzo sarà considerato come commissione dello store.</p>
  <p></p>
  <p>Email amministrazione: riitanodavide08@gmail.com</p>

</div>

<router-outlet></router-outlet>
