.spacer {
  flex: 1 1 auto;
}

.button-row {
  padding: 1%;
}

mat-toolbar {
  background-color: blueviolet;
}

.footer {
  background-color: blueviolet;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 3px 15px;
}
